.sudoku-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;

  .sudoku-grid {
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    border: 2px solid var(--text-color);

    .sudoku-cell {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background);
      color: rgb(79, 26, 171);
      border: 1px solid black;
      
      &.initial {
        color: var(--text-color);
        background-color: rgb(225, 225, 225);
      }
    
      &.selected {
        background-color: rgb(210, 210, 210);
      }

      &.top-border {
        border-top: 2px solid var(--text-color);
      }

      &.bottom-border {
        border-bottom: 2px solid var(--text-color);
      }

      &.left-border {
        border-left: 2px solid var(--text-color);
      }

      &.right-border {
        border-right: 2px solid var(--text-color);
      }
    }
  }
}